@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#181818] text-white;
}

.containers {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .containers {
    width: 90%;
  }
}

.font-viaoda {
  font-family: var(--font-viaoda-libre);
}
.font-poppins {
  font-family: var(--font-poppins);
}
