@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#181818] text-white;
}

.containers {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .containers {
    width: 90%;
  }
}

.bg-gradient-responsive {
  background-image: linear-gradient(
      270deg, /* Default for larger screens */
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url('/rak.webp');
}


@media (max-width: 767px) {
  .bg-gradient-responsive {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url('/rak.webp');
  }
}

.font-viaoda {
  font-family: var(--font-viaoda-libre);
}
.font-poppins {
  font-family: var(--font-poppins);
}
